In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.naive_bayes import CategoricalNB
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier

In [4]:
data = pd.read_csv('Book1 NaiveBayeTABLe.csv')
data

     Outlook Temperature Humidity  Windy Class
0      sunny         hot     high  False    no
1      sunny         hot     high   True    no
2   overcast         hot     high  False   yes
3      rainy        mild     high  False   yes
4      rainy        cool   normal  False   yes
5      rainy        cool   normal   True    no
6   overcast        cool   normal   True   yes
7      sunny        mild     high  False    no
8      sunny        cool   normal  False   yes
9      rainy        mild   normal  False   yes
10     sunny        mild   normal   True   yes
11  overcast        mild     high   True   yes
12  overcast         hot   normal  False   yes
13     rainy        mild     high   True    no

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Outlook      14 non-null     object
 1   Temperature  14 non-null     object
 2   Humidity     14 non-null     object
 3   Windy        14 non-null     bool
 4   Class        14 non-null     object
dtypes: bool(1), object(4)
memory usage: 594.0+ bytes

In [6]:
df = pd.DataFrame(data)
dd = pd.DataFrame(data)
print(df)

     Outlook Temperature Humidity  Windy Class
0      sunny         hot     high  False    no
1      sunny         hot     high   True    no
2   overcast         hot     high  False   yes
3      rainy        mild     high  False   yes
4      rainy        cool   normal  False   yes
5      rainy        cool   normal   True    no
6   overcast        cool   normal   True   yes
7      sunny        mild     high  False    no
8      sunny        cool   normal  False   yes
9      rainy        mild   normal  False   yes
10     sunny        mild   normal   True   yes
11  overcast        mild     high   True   yes
12  overcast         hot   normal  False   yes
13     rainy        mild     high   True    no

In [8]:
df.Outlook

0        sunny
1        sunny
2     overcast
3        rainy
4        rainy
5        rainy
6     overcast
7        sunny
8        sunny
9        rainy
10       sunny
11    overcast
12    overcast
13       rainy
Name: Outlook, dtype: object

In [9]:
le = LabelEncoder() # Transform features to numerical values

In [10]:
# LabelEncoder in machine learning for converting categorical data into a numerical format that machine learning algorithms can process
df['Outlook'] = le.fit_transform(df['Outlook'])
df['Temperature'] = le.fit_transform(df['Temperature'])
df['Humidity'] = le.fit_transform(df['Humidity'])
df['Windy'] = le.fit_transform(df['Windy'])
df['Class'] = le.fit_transform(df['Class'])

In [13]:
df.Outlook

0     2
1     2
2     0
3     1
4     1
5     1
6     0
7     2
8     2
9     1
10    2
11    0
12    0
13    1
Name: Outlook, dtype: int32

In [11]:
df

    Outlook  Temperature  Humidity  Windy  Class
0         2            1         0      0      0
1         2            1         0      1      0
2         0            1         0      0      1
3         1            2         0      0      1
4         1            0         1      0      1
5         1            0         1      1      0
6         0            0         1      1      1
7         2            2         0      0      0
8         2            0         1      0      1
9         1            2         1      0      1
10        2            2         1      1      1
11        0            2         0      1      1
12        0            1         1      0      1
13        1            2         0      1      0

In [12]:
X = df.drop('Class', axis=1)
y = df['Class']
X

    Outlook  Temperature  Humidity  Windy
0         2            1         0      0
1         2            1         0      1
2         0            1         0      0
3         1            2         0      0
4         1            0         1      0
5         1            0         1      1
6         0            0         1      1
7         2            2         0      0
8         2            0         1      0
9         1            2         1      0
10        2            2         1      1
11        0            2         0      1
12        0            1         1      0
13        1            2         0      1

In [14]:
knn = KNeighborsClassifier(n_neighbors=3)      # use knn algoritham 
knn.fit(X ,y)

KNeighborsClassifier(n_neighbors=3)

In [15]:
unseen_sample = [[1, 1, 0, 0]]  # 'rain', 'hot', 'high', 'false‘
predicted_class = knn.predict(unseen_sample)

predicted_class

C:\Users\wazir\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array([1])

In [16]:
predicted_label = le.inverse_transform(predicted_class)
print("Predicted Class Label:", predicted_label[0])

Predicted Class Label: yes

In [17]:
c1 = pd.Series(df['Class'])
c2 = pd.Series(dd['Class'])

result = pd.concat([c1, c2], axis=1)

result.drop_duplicates(inplace=True)

print(result)

  Class Class
0     0    no
2     1   yes